fieldset{
    padding: 0;
    margin: 0;
    border: none;
}

fieldset.attribute_group {
    margin: 0 0 30px 0;
}

legend{
    padding: 0;
}

button{ border: none; 
    &:hover{
        cursor:pointer;
    }
}

.ie button{ overflow: visible; }

label{ line-height: 1.8; }

label.titel{
    display:inline;
    font-size:1em;
    font-weight:normal;
    float:left;
    strong{
        font-size:1.1667em;
    }
}

label.extra_options{
    margin-left: 15px;
}

.giveMeEllipsis {
   overflow: hidden;
   //text-overflow: ellipsis;
   display: block;
   //display: -webkit-box;
   //-webkit-box-orient: vertical;
   //-webkit-line-clamp: 5; /* number of lines to show */
   //line-height: 12px;        /* fallback */
   max-height: 130px;       /* fallback */
}