<div class="result-header">

	<div class="result-title vorm-label">
		Resultaat
	</div>
	
</div>

<ul class="result-options">

	<span ng-show="!vm.getResultOptions().length">
		Er zijn geen resultaatmogelijkheden beschikbaar.
	</span>

	<li ng-repeat="result in vm.getResultOptions() track by result.id"

	>
		<label>
			<input
				type="radio"
				ng-checked="result.selected"
				ng-click="vm.canChange() && vm.handleResultChange(result.value)"
				zs-disabled="!vm.canChange()"
			/>
			{{::result.label}}
		</label>

		<zs-icon
			icon-type="information-outline"
			zs-tooltip="{{result.help}}"
			zs-tooltip-options="{ attachment: 'left middle', target: 'right middle', offset: { x: 10, y: 0 } }"
		>
		</zs-icon>
	</li>


	<!-- not supported yet -->

	<!--button
		type="button"
		ng-click="vm.clearResult()"
		ng-show="vm.hasResult()"
	>
		<zs-icon icon-type="remove"></zs-icon>
	</button-->

</ul>
