[% RETURN IF c.user_exists -%]
        </div>
    </div>



[% INCLUDE layouts/default_helper_diffs.tt %]
[% IF !c.user_exists && !pip %]
</div>
[% END %]

<footer class="site-footer">

	<div class="container">
		<div class="footer-border">
			<div class="square first-color"></div>
			<div class="square second-color"></div>
		</div>
		<div>
			<div>
				&copy; Belastingsamenwerking West-Brabant 2016
				<span>|</span>
				Realisatie <a href="http://www.pp-company.nl/">P&amp;P Company</a>
				<span>|</span>						
				<ul class="footer-nav">
					<li>
						<a href="http://bwbrabant.nl/proclaimer/">Proclaimer</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>