            <table><tr>
                <td>Kopieer de waarde uit:</td>
                <td>naar bestemming:</td>
            </tr><tr>
                <td>
            [% kenmerk_fieldname = fieldname _ '_kenmerk' %]
            [% INCLUDE selecteer_milestone_kenmerk 
               kenmerk_name = 'regels_' _ kenmerk_fieldname
               value = params.$kenmerk_fieldname
               show_all_kenmerken = 1
               hide_aanvrager_option = 1
            %]
                </td>
                <td>
            [% destination_fieldname = fieldname _ '_destination' %]                    
                    <select name="regels_[% destination_fieldname %]">
                        <option value="dfdfdfd">een bestemmings veld</option>
                    </select>
                </td>
            </tr></table>
