<form 
  ng-submit="$ctrl.handleSubmit()"
>
  <vorm-fieldset
    class="form-group"
    data-fields="$ctrl.getFields()"
    on-change="$ctrl.handleChange($name, $value)"
    data-values="$ctrl.values()"
    data-valid="$ctrl.getValidity()"
    is-pristine="$ctrl.isPristine()"
    ng-model-options="{ debounce: { default: 0 }, updateOn: 'default watch blur click select' }"
  >
  </vorm-fieldset>

  <div class="form-actions">
    <button
      class="btn btn-primary"
      type="submit"
      zs-disabled="!$ctrl.isValid()"
    >
      Aanmaken
    </button>
  </div>
</form>
