<div 
	class="case-group" 
	ng-repeat="group in vm.getGroups() track by group.id"
>
	<h2>{{group.label}}</h2>

	<case-list-item-list-item
		ng-if="group.cases.length"
		ng-repeat="case in group.cases track by case.$id"
		case-item="case"
	>
	</case-list-item-list-item>

	<div 
		ng-if="group.showMore"
		class="case-group-loadmore"
	>
		<button
			class="btn btn-secondary"
			ng-click="vm.onLoadMore()">
			Laad meer meldingen in
		</button>
	</div>

	<div 
		ng-if="!group.cases.length&&group.empty"
		class="case-list-done-message"
	>
		<zs-icon icon-type="{{group.empty.icon}}"></zs-icon>
		<span ng-bind-html="group.empty.message"></span>
	</div>

</div>
