[% USE Dumper %]

<div id="betrokkene_definitie">
[% UNLESS formless %]
  <form>
[% END %]

    [% hidden_id_field %]
    <input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]"/>
    <input type="hidden" name="destination" value="[% destination %]"/>
    <input type="hidden" name="update" value="1"/>
    <input type="hidden" name="rownumber" value="[% rownumber %]"/>
    <input type="hidden" name="milestone_last" value="[% milestone_last %]" />
    <input type="hidden" name="zaaktype_id" value="[% zaaktype_id %]" />
    <input type="hidden" name="milestone_number" value="[% milestone_number %]" />
    <input type="hidden" name="standaard_betrokkenen_uuid" value="[% helpers.generate_uuid %]" />

    <table id="betrokkene_template" class="vertical-align-top">

        [%-
        IF params.betrokkene_identifier;
          betrokkene = c.model('Betrokkene').get({}, params.betrokkene_identifier);
        END; %]

        [%- INCLUDE widgets/search_contact.tt
          label = "Betrokkene"
          type_label = "Betrokkene type"
          tr_classes = ["ezra_ztb_betrokkene"]
          ezra_id = "ezra_id_betrokkene"
          input_name = "standaard_betrokkenen_betrokkene_identifier"
          selector_input = "standaard_betrokkenen_betrokkene_type"
          contact_betrokkene_naam = betrokkene.naam
          contact_betrokkene_id = params.betrokkene_identifier
          skip_validator = 1
        %]

        <tr class="ezra_ztb_betrokkene">
          <td>Rol betrokkene</td>
          <td>
            <select id="ezra_ztb_betrokkene_role" name="standaard_betrokkenen_rol">
              [% FOREACH role_object IN rollen %]
              [% role = role_object.label | html_entity %]
              <option value="[% role %]"[% IF params.rol == role %] selected[% END %]>[% role %]</option>
              [% END %]
            </select>
          </td>
        </tr>

        <tr class="ezra_ztb_betrokkene">
          <td>Magic string prefix</td>
          <td>
            <input type="text"
            name="standaard_betrokkenen_magic_string_prefix" value="[% params.magic_string_prefix %]" readonly/>
          </td>
        </tr>

        <tr class="ezra_ztb_betrokkene">
          <td>Gemachtigd voor deze zaak</td>
          <td>
            <input type="hidden" name="dialog_checkboxes" value="standaard_betrokkenen_gemachtigd" />
            <input type="checkbox" name="standaard_betrokkenen_gemachtigd" value="1" [% IF params.gemachtigd %]checked [% END %]/> </td>
        </tr>

        <tr class="ezra_ztb_betrokkene">
          <td>Verstuur bevestiging per e-mail</td>
          <td>
            <input type="hidden" name="dialog_checkboxes" value="standaard_betrokkenen_notify" />
            <input type="checkbox" name="standaard_betrokkenen_notify" value="1" [% IF params.notify %]checked [% END %]/>
          </td>
        </tr>
      </tbody>
    </table>

[% UNLESS formless %]
<div class="form-actions">
    <input type="submit" value="Opslaan" class="button button-primary">
</div>
</form>
[% END %]
</div>
