<tr>
    <td class="td-label td200">Type wijziging</td>
    <td>
        <div>
            <label><input type="radio" name="prolongation_type" data-ng-model="prolongationType" value="fixedDate" /> Verlengen</label>
        </div>
        <div>
            <label><input type="radio" name="prolongation_type" data-ng-model="prolongationType" value="changeTerm" /> Behandeltermijn wijzigen</label>
        </div>
    </td>
    <td>[% PROCESS widgets/general/validator.tt %]</td>
</tr>
<tr>
    <td class="td-label td200">Reden wijzigen termijn</td>
    <td><input type="text" class="input_large" name="reden"/></td>
    <td>[% PROCESS widgets/general/validator.tt %]</td>
</tr>
<tr data-ng-show="prolongationType==='fixedDate'">
    <td class="td-label td200">Selecteer nieuwe streefafhandeldatum</td>
    <td><input type="text" name="datum" value="[% veldoptie_value %]" class="veldoptie_datepicker" id="dp_[% veldoptie_name %]" /></td>
    <td>[% PROCESS widgets/general/validator.tt %]</td>
</tr>
<tr data-ng-show="prolongationType==='changeTerm'">
    <td class="td-label td200">Nieuwe termijn</td>
    <td>
        [% PROCESS widgets/general/terms.tt
            terms_name  = "amount"
            terms_value = veldoptie_value
            terms_name_type = "term_type"
            dont_make_widget = 1
            hide_fixed_enddate = 1
        %]
    <td>[% PROCESS widgets/general/validator.tt %]</td>
</tr>
