[% USE Dumper %]


[% item_config = {
    requestor_search_extension_href => {
        help => 'Voer het webadres in voor een externe link die op de aanvrager zoek-popup dialog verschijnt.',
        label => 'Aanvrager externe zoekfunctie - Link'
    },
    requestor_search_extension_name => {
        help => 'Voer hier de knoptitel in voor een externe link die op de aanvrager zoek-popup dialog verschijnt.',
        label => 'Aanvrager externe zoekfunctie - Titel'
    },
}
%]

<div class="configuration ui-tabs ui-widget-content block block-tabbed">
    <div class="block-header">
        <div class="block-header-title">Systeemconfiguratie</div>
        <div class="alert alert-error
        ">
            <i class="icon-font-awesome icon-warning-sign icon-lebensraum"></i> LET OP! Dit is een experimenteel onderdeel van zaaksysteem.nl. Aanpassingen in deze settings kunnen ervoor zorgen dat zaaksysteem.nl niet langer naar behoren functioneert.
        </div>
    </div>

    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li class="ui-first ui-state-default [% UNLESS c.req.param('advanced') || c.req.param('customer_info') %] ui-tabs-selected ui-state-active[% END %]">
           <a href="[% c.uri_for('/beheer/configuration') %]">Standaard opties</a>
        </li>
        <li class="ui-last ui-state-default [% IF c.req.param('customer_info') %] ui-tabs-selected ui-state-active[% END %]">
           <a href="[% c.uri_for('/beheer/configuration')
           %]?customer_info=1">Zaaksysteemopties</a>
        </li>
        <li class="ui-last ui-state-default [% IF c.req.param('advanced') %] ui-tabs-selected ui-state-active[% END %]">
           <a href="[% c.uri_for('/beheer/configuration') %]?advanced=1">Geavanceerde opties</a>
        </li>
    </ul>

    <div class="block-content ui-widget-content">

        <form method="POST" action="[% c.uri_for('/beheer/configuration/save') %]">
                <input type="hidden" name="advanced" value="[% c.req.param('advanced') %]"/>
                <input type="hidden" name="customer_info" value="[% c.req.param('customer_info') %]"/>

        [%- IF c.req.param('customer_info') %]
            [% PROCESS 'beheer/configuration/customer_info.tt' %]
        [%- ELSE %]
        [% FOREACH parameter IN config.keys.sort %]
            [%- NEXT IF parameter.match('customer_info.*') %]
            [%- NEXT IF parameter == 'disable_stuf_client_certificate_checks' %]
            [%- NEXT IF parameter == 'case_distributor_role' %]
            [%- NEXT IF parameter == 'bag_local_only' %]
            <fieldset>
            [% template = 'beheer/configuration/' _ parameter _ '.tt' %]

            [% # this way we can still see errors from the subtemplates %]
            [% custom_template = 0 %]
            [% TRY; discard = PROCESS $template; custom_template = 1; CATCH file; END %]

            [% IF custom_template %]
                [% PROCESS $template
                    parameter = parameter
                    value = config.$parameter
                %]
            [% ELSE %]
                [% my_item = item_config.${parameter} %]
                [% PROCESS beheer/configuration/default.tt
                    dropdown_content = my_item.help || '-'
                    label = my_item.label
                    parameter = parameter
                    value = config.$parameter
                %]
            [% END %]

            </fieldset>
        [% END %]
        [% END %]

            <div class="form-actions clearfix">
                <input type="submit" class="button button-primary" value="Opslaan" />
            </div>

        </form>

    </div>
</div>
