<!--div data-ng-controller="nl.mintlab.admin.CaseTypeController" data-ng-init="init([% zaaktype_id %])"-->

    <table>
    <tr>
        <th colspan="3" class="th_16px blue tussenkop">Tarieven</th>
    </tr>
    <tr>
        <td>Geen kosten</td>
        <td>
            <input value="0"
            [% (!(params.definitie.heeft_pdc_tarief && params.definitie.pdc_tarief) ?
            'checked="checked"' : '')
            %]
            type="radio" name="definitie.heeft_pdc_tarief" />
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Tarief web</td>
        <td>
            <input value="1"
            [% ((params.definitie.heeft_pdc_tarief || params.definitie.pdc_tarief) ?
            'checked="checked"' : '')
            %]
            type="radio" name="definitie.heeft_pdc_tarief" />
            &euro; <input type="text" name="definitie.pdc_tarief_eur" size="8" data-ng-model="pdc_tarief"> , 
            <input type="text" name="definitie.pdc_tarief_cnt" size="2" value="[% params.definitie.pdc_tarief_cnt %]" />
        </td>
        <td></td>
    </tr>
    </table>

