[% UNLESS process.total_step_count == 1 %]

    <div id="stappen" class="clearfix stappen-nav">
        [% count = 0 %]
        [% buffer = '' %]

        [% FOREACH kenmerk IN kenmerken_groups_keep_sort %]
            [% rawkenmerk = kenmerk %]
            [% kenmerk = kenmerk.replace('[^a-zA-Z0-9]', '_'); %]

            [% NEXT UNLESS kenmerk %]

            <div class="formwizard-stappen stap[% (count == process.step ? ' active' : ' next-level') %][% (count == 0 ? ' first' : '') %][% buffer %]" id="stap-[% kenmerk %]" style="width:[% 100/(process.total_step_count ? process.total_step_count : 1) %]%"><div>Stap [% count +1 %] [% #kenmerk %]</div></div>

            [% IF count == process.step %]
                [% buffer = ' next-to-active' %]
            [% ELSE %]
                [% buffer = '' %]
            [% END %]
            [% count = count + 1 %]
        [% END %]
    </div>

[% END %]